.Container {
  background: DarkBlue;
  border-radius: 10px;
  height: 600px;
  max-width: 600px;
  margin: 20px auto;
  
}


.display{
  background: #DDD;
  border-radius: 10px;
  height: 50px;
  position : relative;
  margin : 10px auto;
  top : 20px;
  width : 90%;
}

.buttonPanel{
  background: #DDD;
  border-radius: 10px;
  height: 90%;
  position : relative;
  margin : 10px auto;
  top : 20px;
  width : 90%;
}
